In [7]:
import pandas as pd
import numpy as np

In [3]:
df_data = pd.read_csv("supermarket_sales.csv")

In [5]:
df_data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [9]:
labels = ['a', 'b', 'c']

minha_lista = [10, 20 , 30] 

arr = np.array([10, 20, 30])

d = {'a': 10, 'b': 20, 'c': 30}

In [11]:
pd.Series(labels) # indice dos dados

0    a
1    b
2    c
dtype: object

In [13]:
pd.Series(data=labels, index=minha_lista)

10    a
20    b
30    c
dtype: object

In [15]:
pd.Series(labels, minha_lista)

10    a
20    b
30    c
dtype: object

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [19]:
ser1 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'USSR', 'Japão'])  # data = 1 , 2 , 3 ,4 index = Países
ser1

EUA         1
Alemanha    2
USSR        3
Japão       4
dtype: int64

In [21]:
ser2 =  pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'Italia', 'Japão']) 
ser2

EUA         1
Alemanha    2
Italia      3
Japão       4
dtype: int64

In [32]:
ser2[['EUA', 'Alemanha']]

EUA         1
Alemanha    2
dtype: int64